.central-display {
  padding: 10px;
  background: #FFF;
}

.central-display .monaco-editor {
  /* padding: 100px; */
  min-height: 65vh;
  /* border: dashed 1px; */
}

.central-display .editor-container {
  border: dashed 1px #cbe6ff;
  padding: 1px;
  margin-bottom: 20px;
}

.central-display .date-title {
  user-select: none;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;
}

.central-display .arrow-day {
  font-size: 1.5em;
  color: #ddd;
  cursor: pointer;
  transition: all 0.2s;
}


.central-display .arrow-day:hover {
  color: #aaa;
}